.f-left {float: left}
.clear {clear: both;}

body {background: url("../src/bg-img.jpg");}
.main-title {
    text-align: center;
    margin-bottom: 50px;
    font-size: 100px;
}

.main-box {
    padding-top: 50px;
}

.input {
    position: relative;
    display: table;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
}

.input a {
    display: block;
    position: absolute;
    top: 10px;
    right: 15px;
    color: mediumslateblue;
    background: #ffffff;
    border: none;
    cursor: pointer;
}

.input a:hover {
    color: lightblue;
}

.input-key {
    border-radius: 20px;
}
.description {
    text-align: center;
}

.results-box {
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: #cecece 0px 0px 15px;
    padding: 25px 50px;
}

.results-box ul {
    list-style-type: none;
    margin-bottom: 0px;
    padding-left: 0;
}

.results-box ul a {
	position: relative;
	color: #212529;
}

.results-box ul i {
	position: absolute;
	top: 50%;
	margin-top: -8px;
}

.results-box ul li {
    border-bottom: 1px solid #cccccc;
}

.results-box ul li:last-child {
    border: none;
}

.results-box ul li:hover p {
    color: mediumslateblue;
}

.results-box ul i {
    color: mediumslateblue;
}

.results-box ul p {
    display: table;
    width: 30%;
    text-align: center;
    margin-bottom: 0;
}

.results-box ul a {
    padding: 10px 15px;
    display: block;
}

.pagination {
    margin: 25px auto 0;
}

.pagination > div {
    display: table;
    margin: 0 auto;
}

.pagination a {
    display: block;
    color: #ffffff;
    background-color: mediumslateblue;
    border-radius: 25px;
    width: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 20px;
    float: left;
    margin: 0 5px;
}

.pagination a:hover {
    text-decoration: none;
    background-color: lightblue;
    color: mediumslateblue;
}

.pre-search {
    text-align: center !important;
    width: 100% !important;
}

@media(max-width: 768px){
    .main-title {
        font-size: 50px;
    }
}

@media(max-width: 575px){
    .results-box ul p {
        width: 100%;
    }
}

@media(max-width: 350px){
    .main-title {
        font-size: 40px;
    }   
}