<div class="container main-box">

    <h1 class="main-title">iTunes Search</h1>

    <p class="description">O método grátis de busca de músicas mais preciso do mercado!</p>

    <div class="input">
        <form>
            <input ng-model="vm.params.term" type="text" class="form-control input-key">
            <button ui-sref="response" type="submit" class="fa fa-search" ng-click="vm.pesquisa()"></button>
        </form>
    </div>

</div>

<div class="container results-box">
    <p class="pre-search">Pesquise por sua música, artista ou álbum favorito!</p>
    <ul>
        <li ng-repeat="musica in vm.result track by musica.trackId">
            <c-music musica="musica"></c-music>
        </li>
    </ul>

    <div class="pagination">
        <div>
            <a ng-repeat="pagina in vm.paginacao" ng-click="vm.loadResults($index)" href="">{{ pagina }}</a>
            <div class="clear"></div>
        </div>
    </div>
</div>