<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>iTunes Search</title>

    <!-- Includes -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link href="../css/bootstrap/bootstrap.min.css" rel="stylesheet">
    <link href="../css/geral.css" rel="stylesheet">

  </head>
  <body>

    <div class="container main-box">
        <h1 class="main-title">iTunes Search</h1>

        <p class="description">O método grátis de busca de músicas mais preciso do mercado!</p>
        
        <div class="input">
            <form action="pesquisa()">
                <input type="text" class="form-control input-key">
            </form>
            <button type="submit" class="fa fa-search"></button>
        </div>

    </div>

    <div class="container results-box">
        <ul>
            <li>
                <a href="">
                    <i class="fa fa-user f-left"></i>
                    <p class="song f-left">Grenade</p>
                    <p class="artist f-left">Bruno Mars</p>
                    <p class="album f-left">Doo-Wops & Hooligans</p>
                    <div class="clear"></div>
                </a>
            </li>
            <li>
                <a href="">
                    <i class="fa fa-user f-left"></i>
                    <p class="song f-left">Grenade</p>
                    <p class="artist f-left">Bruno Mars</p>
                    <p class="album f-left">Doo-Wops & Hooligans</p>
                    <div class="clear"></div>
                </a>
            </li>
            <li>
                <a href="">
                    <i class="fa fa-user f-left"></i>
                    <p class="song f-left">Grenade</p>
                    <p class="artist f-left">Bruno Mars</p>
                    <p class="album f-left">Doo-Wops & Hooligans</p>
                    <div class="clear"></div>
                </a>
            </li>
            <li>
                <a href="">
                    <i class="fa fa-user f-left"></i>
                    <p class="song f-left">Grenade</p>
                    <p class="artist f-left">Bruno Mars</p>
                    <p class="album f-left">Doo-Wops & Hooligans</p>
                    <div class="clear"></div>
                </a>
            </li>
            <li>
                <a href="">
                    <i class="fa fa-user f-left"></i>
                    <p class="song f-left">Grenade</p>
                    <p class="artist f-left">Bruno Mars</p>
                    <p class="album f-left">Doo-Wops & Hooligans</p>
                    <div class="clear"></div>
                </a>
            </li>
        </ul>

        <div class="pagination">
            <div>
                <a href=""><</a>
                <a href="">1</a>
                <a href="">2</a>
                <a href="">3</a>
                <a href="">></a>
                <div class="clear"></div>
            </div>
        </div>

    </div>

    <!-- Includes -->
    <script src="../js/jquery/jquery.js"></script>
    <script src="../js/angularjs/1.7.5/angular.min.js"></script>
    <script src="../js/bootstrap/bootstrap.min.js"></script>
    <script src="../js/scripts.js"></script>
  </body>
</html>