<!DOCTYPE>
<html lang="en" ng-app="itunesSearch">
  <head>
    <meta charset="utf-8">
    <title>iTunes Search</title>

    <!-- Includes -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link href="../css/bootstrap/bootstrap.min.css" rel="stylesheet">
    <link href="../css/geral.css" rel="stylesheet">

  </head>
  <body ng-controller="itunesSearchCtrl">

    <div class="container main-box">
        
        <h1 class="main-title">iTunes Search</h1>

        <p class="description">O método grátis de busca de músicas mais preciso do mercado!</p>
        
        <div class="input">
            <form>
                <input ng-model="input" type="text" class="form-control input-key">
            </form>
            <a ui-sref="response" type="submit" class="fa fa-search" ng-click="pesquisa()"></a>
        </div>

    </div>

    <div class="container results-box">
        <ui-view id="finalForm">
            <p class="pre-search">Pesquise por sua música, artista ou álbum favorito!</p>
            <ul>
                <li ng-repeat="musica in result | limitTo:10">
                    <a href="">
                        <i class="fa fa-user f-left"></i>
                        <p class="song f-left">{{musica.trackName}}</p>
                        <p class="artist f-left">{{musica.artistName}}</p>
                        <p class="album f-left">{{musica.collectionName}}</p>
                        <div class="clear"></div>
                    </a>
                </li>
            </ul>
        </ui-view>

        <div class="pagination">
            <div>
                <a ng-repeat="pagina in paginacao" ng-click="loadResults($index)" href="">{{pagina}}</a>
                <div class="clear"></div>
            </div>
        </div>
    </div>

    <!-- Includes -->
    <script src="../js/jquery/jquery.js"></script>
    <script src="../js/angularjs/1.7.5/angular.min.js"></script>
    <script src="//unpkg.com/@uirouter/angularjs/release/angular-ui-router.min.js"></script>
    <script src="../js/bootstrap/bootstrap.min.js"></script>
    <script src="../js/scripts.js"></script>
  </body>
</html>